# Ignorar carpetas __pycache__ en cualquier nivel
__pycache__/
**/__pycache__/

# Ignorar archivos compilados de Python
*.pyc
**/*.pyc

# Ignorar entorno virtual
venv/

# Ignorar tu carpeta reservify
reservify/
