# Ignorar carpetas __pycache__ en cualquier nivel
__pycache__/
**/__pycache__/

# Ignorar archivos compilados de Python
*.pyc
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# Archivos específicos de Python
*.py[cod]
*$py.class

# Ignorar entorno virtual
venv/

# Ignorar tu carpeta reservify
reservify/
